Repository move4mobile/coders-workspace, pull requests merged in 2022-05, with the labels that each got.

#291 feat: Gamify join and leave application
  libs/gamify/applications/src/lib/applications.controller.ts
  libs/gamify/applications/src/lib/applications.service.ts
  libs/gamify/applications/src/lib/models/application-user.model.ts
  libs/gamify/applications/src/lib/models/application.model.ts
  libs/gamify/applications/src/lib/models/index.ts
  libs/gamify/data/prisma/schema.prisma
Labels: feature, app: gamify, comp: backend

#318 build(deps): weekly dependabot updates
  package-lock.json
  package.json
Labels: dependencies

#332 feat(foosball-api): add swagger support
  apps/foosball/api/src/app/app.controller.ts
  apps/foosball/api/src/bootstrap.ts
  apps/foosball/api/src/main.ts
  package-lock.json
  package.json
Labels: documentation, dependencies, app: foosball

#337 feat(gamify): Basic swagger setup for gamify api
  apps/gamify/api/src/bootstrap.ts
  apps/gamify/api/src/main.ts
Labels: documentation, app: gamify, comp: backend
