Repository move4mobile/coders-workspace, pull requests merged in 2022-04, with the labels that each got.

#202 build(deps): migrate nx to 13.9.5
  apps/codeheroes/api/project.json
  apps/crm/api/project.json
  apps/foosball/api/project.json
  apps/foosball/slackbot/project.json
  package-lock.json
  package.json
Labels: dependencies

#199 feat: Gamify setup
  .gitignore
  .vscode/extensions.json
  apps/gamify/api/.eslintrc.json
  apps/gamify/api/jest.config.js
  apps/gamify/api/project.json
  apps/gamify/api/src/app/.gitkeep
  apps/gamify/api/src/app/app.controller.spec.ts
  apps/gamify/api/src/app/app.controller.ts
  apps/gamify/api/src/app/app.module.ts
  apps/gamify/api/src/app/app.service.spec.ts
  apps/gamify/api/src/app/app.service.ts
  apps/gamify/api/src/assets/.gitkeep
  apps/gamify/api/src/environments/environment.prod.ts
  apps/gamify/api/src/environments/environment.ts
  apps/gamify/api/src/main.ts
  apps/gamify/api/tsconfig.app.json
  apps/gamify/api/tsconfig.json
  apps/gamify/api/tsconfig.spec.json
  apps/gamify/web-app/.browserslistrc
  apps/gamify/web-app/.eslintrc.json
  apps/gamify/web-app/jest.config.js
  apps/gamify/web-app/project.json
  apps/gamify/web-app/proxy.conf.json
  apps/gamify/web-app/src/app/app.component.html
  apps/gamify/web-app/src/app/app.component.scss
  apps/gamify/web-app/src/app/app.component.spec.ts
  apps/gamify/web-app/src/app/app.component.ts
  apps/gamify/web-app/src/app/app.module.ts
  apps/gamify/web-app/src/app/nx-welcome.component.ts
  apps/gamify/web-app/src/assets/.gitkeep
  apps/gamify/web-app/src/environments/environment.prod.ts
  apps/gamify/web-app/src/environments/environment.ts
  apps/gamify/web-app/src/favicon.ico
  apps/gamify/web-app/src/index.html
  apps/gamify/web-app/src/main.ts
  apps/gamify/web-app/src/polyfills.ts
  apps/gamify/web-app/src/styles.scss
  apps/gamify/web-app/src/test-setup.ts
  apps/gamify/web-app/tsconfig.app.json
  apps/gamify/web-app/tsconfig.editor.json
  apps/gamify/web-app/tsconfig.json
  apps/gamify/web-app/tsconfig.spec.json
  nx.json
  package-lock.json
  package.json
  workspace.json
Labels: app: gamify

#177 build(deps): weekly dependabot updates
  package-lock.json
  package.json
Labels: dependencies

#214 build(deps): weekly dependabot updates
  package-lock.json
  package.json
Labels: dependencies

#203 build: improve Prisma setup
  apps/foosball/api/project.json
  libs/foosball/.gitignore
  libs/foosball/data/.eslintrc.json
  libs/foosball/data/package.json
  libs/foosball/data/prisma/schema.prisma
  libs/foosball/data/prisma/seed.ts
  libs/foosball/data/prisma/tsconfig.tools.json
  libs/foosball/data/project.json
  libs/foosball/data/src/lib/data.service.ts
  libs/foosball/data/src/lib/exports/types.ts
  package-lock.json
  package.json
  prisma/.gitignore
Labels: dependencies

#225 feat: Gamify apps api endpoint with mockdata
  apps/gamify/api/src/app/app.module.ts
  libs/gamify-api/apps/.eslintrc.json
  libs/gamify-api/apps/README.md
  libs/gamify-api/apps/jest.config.js
  libs/gamify-api/apps/project.json
  libs/gamify-api/apps/src/index.ts
  libs/gamify-api/apps/src/lib/apps.controller.spec.ts
  libs/gamify-api/apps/src/lib/apps.controller.ts
  libs/gamify-api/apps/src/lib/apps.module.ts
  libs/gamify-api/apps/src/lib/apps.service.spec.ts
  libs/gamify-api/apps/src/lib/apps.service.ts
  libs/gamify-api/apps/tsconfig.json
  libs/gamify-api/apps/tsconfig.lib.json
  libs/gamify-api/apps/tsconfig.spec.json
  libs/gamify-api/core/.eslintrc.json
  libs/gamify-api/core/README.md
  libs/gamify-api/core/jest.config.js
  libs/gamify-api/core/project.json
  libs/gamify-api/core/src/index.ts
  libs/gamify-api/core/src/lib/enums/application-type.enum.ts
  libs/gamify-api/core/src/lib/enums/index.ts
  libs/gamify-api/core/src/lib/gamify-api-core.module.ts
  libs/gamify-api/core/src/lib/interfaces/app.interface.ts
  libs/gamify-api/core/src/lib/interfaces/index.ts
  libs/gamify-api/core/tsconfig.json
  libs/gamify-api/core/tsconfig.lib.json
  libs/gamify-api/core/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Labels: app: gamify

#218 build(deps): weekly dependabot updates
  package-lock.json
  package.json
Labels: dependencies

#237 build(gamify): small code refactoring + tweaks
  .eslintrc.json
  .github/CODEOWNERS
  apps/gamify/api/project.json
  apps/gamify/api/src/app/.gitkeep
  apps/gamify/api/src/app/app.module.ts
  libs/gamify-api/apps/src/lib/apps.service.ts
  libs/gamify-api/core/project.json
  libs/gamify-api/core/src/index.ts
  libs/gamify/apps/.eslintrc.json
  libs/gamify/apps/README.md
  libs/gamify/apps/jest.config.js
  libs/gamify/apps/project.json
  libs/gamify/apps/src/index.ts
  libs/gamify/apps/src/lib/apps.controller.spec.ts
  libs/gamify/apps/src/lib/apps.controller.ts
  libs/gamify/apps/src/lib/apps.module.ts
  libs/gamify/apps/src/lib/apps.service.spec.ts
  libs/gamify/apps/src/lib/apps.service.ts
  libs/gamify/apps/tsconfig.json
  libs/gamify/apps/tsconfig.lib.json
  libs/gamify/apps/tsconfig.spec.json
  libs/gamify/core/.eslintrc.json
  libs/gamify/core/README.md
  libs/gamify/core/jest.config.js
  libs/gamify/core/project.json
  libs/gamify/core/src/index.ts
  libs/gamify/core/src/lib/enums/application-type.enum.ts
  libs/gamify/core/src/lib/enums/index.ts
  libs/gamify/core/src/lib/gamify-core.module.ts
  libs/gamify/core/src/lib/interfaces/app.interface.ts
  libs/gamify/core/src/lib/interfaces/index.ts
  libs/gamify/core/tsconfig.json
  libs/gamify/core/tsconfig.lib.json
  libs/gamify/core/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Labels: app: gamify

#240 feat: Gamify prisma setup
  apps/gamify/api/project.json
  apps/gamify/api/src/app/app.controller.spec.ts
  apps/gamify/api/src/app/app.controller.ts
  apps/gamify/api/src/app/app.module.ts
  libs/gamify/.gitignore
  libs/gamify/applications/.eslintrc.json
  libs/gamify/applications/README.md
  libs/gamify/applications/jest.config.js
  libs/gamify/applications/project.json
  libs/gamify/applications/src/index.ts
  libs/gamify/applications/src/lib/applications.controller.spec.ts
  libs/gamify/applications/src/lib/applications.controller.ts
  libs/gamify/applications/src/lib/applications.module.ts
  libs/gamify/applications/src/lib/applications.service.spec.ts
  libs/gamify/applications/src/lib/applications.service.ts
  libs/gamify/applications/tsconfig.json
  libs/gamify/applications/tsconfig.lib.json
  libs/gamify/applications/tsconfig.spec.json
  libs/gamify/apps/README.md
  libs/gamify/apps/project.json
  libs/gamify/apps/src/index.ts
  libs/gamify/apps/src/lib/apps.controller.spec.ts
  libs/gamify/apps/src/lib/apps.controller.ts
  libs/gamify/apps/src/lib/apps.module.ts
  libs/gamify/apps/src/lib/apps.service.ts
  libs/gamify/data/.eslintrc.json
  libs/gamify/data/README.md
  libs/gamify/data/jest.config.js
  libs/gamify/data/package.json
  libs/gamify/data/prisma/schema.prisma
  libs/gamify/data/prisma/seed.ts
  libs/gamify/data/prisma/tsconfig.tools.json
  libs/gamify/data/project.json
  libs/gamify/data/src/index.ts
  libs/gamify/data/src/lib/data.module.ts
  libs/gamify/data/src/lib/data.service.spec.ts
  libs/gamify/data/src/lib/data.service.ts
  libs/gamify/data/tsconfig.json
  libs/gamify/data/tsconfig.lib.json
  libs/gamify/data/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Labels: feature, app: gamify

#245 feat: Gamify applications
  apps/gamify/api/src/main.ts
  libs/gamify/applications/src/lib/applications.controller.ts
  libs/gamify/applications/src/lib/applications.service.ts
  libs/gamify/applications/src/lib/dto/create-application.input.ts
  libs/gamify/applications/src/lib/dto/update-application.input.ts
  libs/gamify/data/package.json
  libs/gamify/data/prisma/schema.prisma
  libs/gamify/data/prisma/seed.ts
  libs/gamify/data/src/lib/data.service.ts
  package-lock.json
  package.json
Labels: feature, app: gamify

#270 build(deps): weekly Dependabot updates
  package-lock.json
  package.json
Labels: dependencies

#273 feat: Gamify badges
  apps/gamify/api/src/app/app.module.ts
  libs/gamify/badges/.eslintrc.json
  libs/gamify/badges/README.md
  libs/gamify/badges/jest.config.js
  libs/gamify/badges/project.json
  libs/gamify/badges/src/index.ts
  libs/gamify/badges/src/lib/badges.controller.spec.ts
  libs/gamify/badges/src/lib/badges.controller.ts
  libs/gamify/badges/src/lib/badges.module.ts
  libs/gamify/badges/src/lib/badges.service.spec.ts
  libs/gamify/badges/src/lib/badges.service.ts
  libs/gamify/badges/src/lib/dto/create-badge.input.ts
  libs/gamify/badges/src/lib/dto/update-badge.input.ts
  libs/gamify/badges/src/lib/models/badge.model.ts
  libs/gamify/badges/src/lib/models/index.ts
  libs/gamify/badges/tsconfig.json
  libs/gamify/badges/tsconfig.lib.json
  libs/gamify/badges/tsconfig.spec.json
  libs/gamify/core/src/lib/enums/badge-tier.enum.ts
  libs/gamify/core/src/lib/enums/index.ts
  libs/gamify/data/prisma/schema.prisma
  libs/gamify/data/prisma/seed.ts
  tsconfig.base.json
  workspace.json
Labels: feature, app: gamify, comp: backend
